<h2 class='templates'>
  <button {{action addTemplate}}>Add Template</button>
  Templates
</h2>
<section class="templates">
  {{#each content}}
    <div class='template'>
      <div class="controls">
        {{input value=name autofocus=true}}.handlebars
        <button {{action removeTemplate this}}>Remove</button>
      </div>
      {{ace-editor content=body language=language}}
    </div>
  {{else}}
    No Templates
  {{/each}}
</section>
